@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap') ;

.logo {
  align-items: baseline;
  display: flex;
  font-size: 22px;
  font-weight: 300;
  gap: 5px;
  justify-content: center;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.logo p {
  margin: 0;
}

.logo img {
  height: auto;
  max-width: 100%;
  width: 30px;
}

.trybe {
  font-family: Epilogue, sans-serif;
  font-weight: 900;
  letter-spacing: normal;
}

@media ( min-width : 760px ) {

  .logo {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .logo img {
    width: 38px;
  }

}
